@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="post" enctype="multipart/form-data"  action="/image/upload">
        <input type="file" />
        <input type="text" value="TypeId" />
        <button type="submit" class="btn-block">upload</button>
    </form>
</div>
