@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var round = ViewData["ROUND"] as RoundModel;
    ViewData["Title"] = round.RoundDesc;
    var targetList = ViewData["TARGET_LIST"] as List<TargetModel>;
    var choiceList = ViewData["CHOICE_LIST"] as List<ChoiceModel>;
}
<div class="row">
    @foreach (var target in targetList)
    {
    <div class="col-xs-4 col-sm-3">
        <input type="hidden" />
        <img width="150" src="~/img/@target.TargetContent" /><br />
        @foreach (var choice in choiceList)
        {
            @choice.ChoiceContent<input type="checkbox" value="@choice.ChoiceValue" />@choice.ChoiceValue<br />
        }
    </div>
    }
</div>
