@{
    ViewData["Title"] = "Vote Creating";
}

<div class="text-center">

    <h1 class="display-4">Create an Voting</h1>
    <form id="round_form" method="post">
        <input name="RoundDesc"  placeholder="描述" /><br/>
        <input name="RoundBeginTime" type="datetime" /><br/>
        <input name="RoundEndTime" type="datetime" /><br/>
        <a class="btn-info btn-lg" id="round_form_submit" value="Create"></a>
    </form>
    <div id="round_info">
        描述<label id="RoundDesc"></label>
        开始时间<label id="RoundBeginTime"></label>
        结束时间<label id="RoundEndTime"></label>
    </div>
    <hr />

    <h1 class="display-4">Create Choices</h1>
    <form id="choice_form">
        <input name="ChoiceContent" placeholder="描述" />
        <input name="ChoiceValue" placeholder="权重" />
    </form>
    <ul id="choice_info"></ul>
</div>
