@{
    ViewData["Title"] = "Vote Creating";
    var round = ViewData["ROUND"] as RoundModel ?? new RoundModel();
}

<div class="text-center">

    <h1 class="display-4">Create an Voting</h1>
    <form id="round_form" method="post">
        <input name="RoundDesc"  placeholder="描述" /><br/>
        <input name="RoundBeginTime" type="datetime" /><br/>
        <input name="RoundEndTime" type="datetime" /><br/>
        <input type="button" class="btn-info btn-sm" id="round_form_submit" value="Create" />
    </form>
    <div id="round_info">
        描述<label id="RoundDesc">@round.RoundDesc</label> &nbsp;&nbsp;
        开始时间<label id="RoundBeginTime">@round.RoundBeginTime</label>&nbsp;&nbsp;
        结束时间<label id="RoundEndTime">@round.RoundEndTime</label>
    </div>
    <hr />

    <h1 class="display-4">Create Choices</h1>
    <form id="choice_form">
        <input type="hidden" name="RoundId" id="RoundId" value="@round.RoundId"/>
        <input type="text" name="ChoiceContent" placeholder="描述" />
        <input type="text" name="ChoiceValue" placeholder="权重" />
        <input type="button" id="choice_form_submit" value="Create" />
    </form>
    <ul id="choice_info">

    </ul>

    <hr/>
    <h1 class="display-4">Create Target</h1>
    <form id="target_form" method="post" enctype="multipart/form-data">
        <input type="file" name="Targets" multiple="multiple" />
        <input id="target_form_submit" type="button" value="upload"/>
    </form>

    <hr/>
    <button class="btn-lg btn-warning">Create Vote!</button>
    
</div>
